.App {
  text-align: center;
}

.dragon-collection-description {
  margin: 20px;
}

.dragon-card-container {
  background-color: #000;
  border: 1px solid grey;
  border-radius: 10px;
  color: #fff;
  font-size: 18px;
  height: 400px;
  margin: 20px auto;
  padding: 20px 10px;
  width: 300px;
}

.dragon-card-image {
  border: 1px solid black;
  border-radius: 5px;
  height: 150px;
  width: 250px;
}
