.App {
  text-align: center;
}

.carousel {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.carousel-item {
  background-color: blue;
  height: 400px;
  width: 400px;
}

.dragon-card-container {
  border: 1px solid grey;
  margin: 20px auto;
  width: 400px;
}
